body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #282c34;
}

#calculator {
  font-family: Arial, sans-serif;
  background-color: black;
  border-radius: 10px;
  width: 300px;
  padding: 15px;
}

#display {
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  font-size: 2rem;
  text-align: right;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: white;
  box-sizing: border-box;
}

#keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
}

button {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  border: none;
  background-color: #666;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.operate-btn {
  background-color: orange;
  color: white;
}

button:hover {
  opacity: 0.8;
}
